@using Microsoft.Ajax.Utilities
@model MessageStack.Models.ViewModels.ChatViewModel
<section class="center-element">
    <h2>Create new chat</h2>

    @using (Html.BeginForm())
    {
        <div class="form">
            <!--Name-->
            <div class="form-label"> @Html.LabelFor(m => m.Name)</div>
            <div class="form-textbox col-lg-2 col-lg-offset-5">@Html.TextBoxFor(m => m.Name, new { @class = "form-control col-lg-3" })</div>
            <div class="form-message">@Html.ValidationMessageFor(m => m.Name)</div>
            <br />

            <!--Contact Selection-->
            <br /><br /><span class="glyphicon glyphicon-user"></span><span class="form-label"> @Html.LabelFor(m => m.CurrentAccount.Contacts)</span>
            <section class="multiple-choice-list col-lg-offset-5">
                @{
                    if (Model.CurrentAccountContacts.Count > 0)
                    {
                        for (int i = 0; i < Model.CurrentAccountContacts.Count; i++)
                        {
                            <br />
                            @Html.CheckBoxFor(m => m.CurrentAccountContacts[i].IsSelected)
                            <label>@Model.CurrentAccountContacts[i].Name</label>
                            @Html.HiddenFor(m => m.CurrentAccountContacts[i].Id)
                            @Html.HiddenFor(m => m.CurrentAccountContacts[i].Name)
                            @Html.HiddenFor(m => m.CurrentAccountContacts[i].ContactAccountId)
                        }
                    }
                    else
                    {
                        <div>You have not added any contacts yet. Add some {here}</div>
                    }
                }
            </section>

            <!--Submit-->
            <!--Todo: Disable this button when no contacts available/selected-->
            <br /><br /><input class="btn btn-primary" type="submit" value="Create chat" />
            <br /><br />

            <!--Back Button-->
            @Html.ActionLink($"Back to Dashboard", "Index", "Dashboard")
        </div>
    }
</section>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

