@using MessageStack.Models
@model MessageStack.Models.ViewModels.ChatListViewModel

<section class="container">
    <section class="row">
        <section class="col-lg-6">
            <br />
            <span class="modal-header arrow badge">Private Chats</span>
        </section>
        <section class="col-lg-6">
            <br />
            Group Chats
        </section>
    </section>

    <section class="row">
        <h2>Chats</h2>

        @if (Model.PrivateChats.Count == 0 && Model.GroupChats.Count == 0)
        {
            <p class="text-info">
                <span class="alert-info">
                    You have not started any chats yet! <br />
                </span>

                <span class="text-primary">
                    @Html.ActionLink("Create a new private chat", "Index", "Contacts") <br />
                    @Html.ActionLink("Create a new group chat", "GroupChat")
                </span>
            </p>
        }
        else
        {
            if (Model.PrivateChats.Count > 0)
            {
                foreach (var item in Model.PrivateChats)
                {
                    var isFirstUser = item.FirstUser == (Account)Session["Loggedin_Account"];

                    if (isFirstUser)
                    {
                        <p class="col-sm-6">
                            <span style="font-weight:bold">
                                @item.SecondUser.Firstname @item.SecondUser.Lastname
                            </span><br />
                            <span style="font-style:italic">
                                @item.SecondUser.Email
                            </span>
                            <br />

                            @if (item.Messages != null)
                            {
                                <span>
                                    @item.Messages.Last().SendDate.ToShortTimeString(): "@item.Messages.Last().Content"
                                </span>
                            }
                            else
                            {
                                <span style="font-style:italic">
                                    No messages have been sent yet!
                                </span>
                            }
                            <br />
                            @Html.ActionLink("Go to the chat", "PrivateChat", new { ChatId = item.Id, OtherAccountId = item.SecondUser.Id }, new AjaxOptions { HttpMethod = "GET" })
                        </p>
                    }
                    else
                    {
                        <p class="col-sm-6">
                            <span style="font-weight:bold"> @item.FirstUser.Firstname @item.FirstUser.Lastname</span><br />
                            <span style="font-style:italic"> @item.FirstUser.Email</span> <br />
                            @if (item.Messages.Count > 0)
                            {
                                <span>
                                    @item.Messages.Last().SendDate.ToShortTimeString(): "@item.Messages.Last().Content"
                                </span>
                            }
                            else
                            {
                                <span style="font-style:italic">
                                    No messages have been sent yet!
                                </span>
                            }
                            <br />
                            @Html.ActionLink("Go to the chat", "PrivateChat", new { ChatId = item.Id, OtherAccountId = item.FirstUser.Id }, new AjaxOptions { HttpMethod = "GET" })
                        </p>
                    }
                }

            }
            else
            {
                <p class="col-sm-6">
                    No private chats have been started yet, create one @Html.ActionLink("here", "PrivateChat")
                </p>
            }
            if (Model.GroupChats.Count > 0)
            {
                foreach (var item in Model.GroupChats)
                {
                    <p class="col-sm-6">
                        <span style="font-weight:bold">@item.Name</span><br/>
                        <span style="font-style:italic">@item.Subject</span><br />
                        @if (item.Messages.Count > 0)
                        {
                            <span>
                                @item.Messages.Last().Sender.Firstname @item.Messages.Last().Sender.Lastname - @item.Messages.Last().SendDate.ToShortTimeString():  @item.Messages.Last().Content
                            </span>
                        }
                        else
                        {
                        <p class="col-sm-6">
                            <span style="font-style:italic">No messages have been sent yet!</span>
                        </p>
                    }
                        </p>
                    }
                }
                else
                {
                    <section class="col-sm-6">
                        <p class="alert-info">
                            No group chats have been found, create one @Html.ActionLink("here", "GroupChat")
                        </p>
                    </section>
                }
            }
    </section>
</section>