@using MessageStack.Models
@model MessageStack.Models.ViewModels.AccountChangePhoneEmailViewModel

<section class="container jumbotron">

    <h1>Change your contact information</h1>

    @if (Session["Loggedin_Account"] != null)
    {
        var account = (Account) Session["Loggedin_Account"];
        <h3 class="text-success glyphicon-cog">
            Welcome, @account.Firstname @account.Lastname.
        </h3>
        <p>

            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {

                <h2>
                    Change Email/Phonenumber
                </h2>

                @Html.LabelFor(m => m.Email) <br />
                @Html.TextBoxFor(m => m.Email, new {placeholder = @Model.Email}) <br />

                @Html.LabelFor(m => m.Phonenumber) <br />
                @Html.TextBoxFor(m => m.Phonenumber, new {placeholder = @Model.Phonenumber}) <br />

                @Html.LabelFor(m => m.CurrentPassword) <br />
                @Html.TextBoxFor(m => m.CurrentPassword) <br />

                <input type="hidden" name="Id" value="@account.Id"/>

                <input type="submit" value="Change" id="secondsubmit" />
            }
        </p>
    }
</section>
