@using MessageStack.Models
@model MessageStack.Models.ViewModels.AccountChangePasswordViewModel

<section class="container jumbotron">

    <h1>Change your password</h1>

    @if (Session["Loggedin_Account"] != null)
    {
        var account = (Account)Session["Loggedin_Account"];
        <h3 class="text-success glyphicon-cog">
            Welcome, @account.Firstname @account.Lastname.
        </h3>
        <p>

            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {

                <h2>
                    Change password
                </h2>

                @Html.LabelFor(m => m.Password) <br />
                @Html.TextBoxFor(m => m.Password) <br />

                @Html.LabelFor(m => m.RepeatPassword) <br />
                @Html.TextBoxFor(m => m.RepeatPassword) <br />

                @Html.LabelFor(m => m.CurrentPassword) <br />
                @Html.TextBoxFor(m => m.CurrentPassword) <br />

                <input type="submit" value="Change" id="secondsubmit" />
            }
        </p>
    }
</section>