@model MessageStack.Models.Account

<section class="container jumbotron">

    <h2>Your account</h2>

    @if (Model != null)
    {
        <h3 class="text-success">
            Welcome, @Model.Firstname @Model.Lastname
        </h3>
        <p>
            @Html.ActionLink("Chat", "Index", "Chat")<br/>
            @Html.ActionLink("Contact", "Index", "Contact")
        </p>

        <p>
            Manage account details:<br />
            @Html.ActionLink("Change name", "AccountChangeName") <br />
            @Html.ActionLink("Change contact information", "AccountChangePhoneEmail") <br />
            @Html.ActionLink("Change password", "AccountChangePassword")
        </p>
    }
</section>