@model MessageStack.Models.ViewModels.LoginViewModel

<h2>Log In</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.LabelFor(m => (m.Email))
    <br />
    @Html.TextBoxFor(m => (m.Email))
    <br />
    @Html.LabelFor(m => (m.Password))
    <br />
    @Html.TextBoxFor(m => (m.Password))
    <br />
    <input type="submit" value="Log In" />
}