@model MessageStack.Models.Contact

<section class="jumbotron">

    <h2 class="page-header">Add contact</h2>
    <span class="alert-info">For a contact to be added, it needs to have a registered account on this platform</span>
    @Html.ValidationSummary()

    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Firstname)<br />
        @Html.TextBoxFor(m => m.Firstname)<br />

        @Html.LabelFor(m => m.Lastname)<br />
        @Html.TextBoxFor(m => m.Lastname)<br />

        @Html.LabelFor(m => m.Email)<br />
        @Html.TextBoxFor(m => m.Email)<br />

        @Html.LabelFor(m => m.Phonenumber)<br />
        @Html.TextBoxFor(m => m.Phonenumber)<br />

        <input type="submit" value="Add contact" />
    }
</section>